body {
	// font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
	font-weight: 400;
	color: $body-copy;
	background-color: $background-color;

	@include breakpoint-sm {
		font-size: $base-font-size + 1;
		line-height: 2;
	}
}

/*
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
	margin-bottom: 1rem;
    font-weight: normal;
	cursor: default;

	a {
		color: $body-copy;
		text-decoration: none;
		cursor: pointer;

		&:visited {
			color: $body-copy;
		}
		&:hover {
			color: lighten($body-copy, 10%);
			text-decoration: none;
		}
	}
}
h1 {
	font-size: 1.6rem;
    font-family: $heading-font-family;

	@include breakpoint-md {
		font-size: 1.65rem;
	}
	@include breakpoint-lg {
		font-size: 1.7rem;
	}
	@include breakpoint-xl {
		font-size: 1.8rem;
	}
}
h2 {
	margin-top: 3rem;
	font-size: 1.4rem;

    @include breakpoint-md {
        font-size: 1.8rem;
    }
	a {
		color: inherit;
	}
}
h3 {
	margin-top: 1.5rem;
	font-size: 1.2rem;
}
h4, h5, h6 {
	margin-top: 1rem;
	font-size: 1.1rem;
}

/*
 * Other text & type treatment, and img
 */
p {
	margin-top: 0;
	margin-bottom: 1.4rem;
    cursor: default;
}
a {
	color: $body-copy-alt;
	@include transition-basic();

	&:visited {
		color: $body-copy-alt;
	}
	&:hover {
		color: lighten($body-copy-alt, 6%);
	}
}
nav, ul {
    margin: 0;
    list-style: none;

    li {
        display: inline-block;
        margin: 1em 1em;

        a {
            position: relative;
            font-family: $heading-font-family;
            color: $body-copy;
            text-decoration: none;
            letter-spacing: 0.08em;
            font-size: 18px;

            &:before {
                content: "•";
                display: block;
                height: 1px;
                @include relative-left(-22px);
            }
        }
        &:first-child {
            a:before {
                color: #fff;
            }
        }
    }
}
ol, dl {
	margin-top: 0;
	margin-bottom: 1rem;
}
td, th {
	padding: .25rem .5rem;
}
img {
	display: block;
}








/*
 * Overall layout
 */

.layout-split {
    @include clearfix();

    > .split:first-child {
        float: left;
    }
    > .split:last-child {
        float: right;
    }
}
.split {
    &[data-width="1"] {
        width: 33.3%;
    }
    &[data-width="2"] {
        width: 66.6%;
    }
}
.content-inset {
    padding: 0 $unit-2;

    &.paint-front {
        margin: $unit-3 $unit-2 $unit-3 $unit-1;
        padding: $unit-2;
    }
}
.paint-front {
    @include paint-front();
}
.paint-back {
    color: $body-copy-alt;

    figcaption {
        font-size: 18px;

        span {
            @include relative-top(-10px);
            display: block;
            font-size: 16px;
            font-style: italic;
        }
    }
}
.content-wall {
    margin: 50% auto;
    text-align: center;
}


.content-full {
	padding: 26% 8% 20% 8%;

	@include breakpoint-sm {
        padding: $unit-2;
	}
	@include breakpoint-md {
		@include padding-top-bottom(16%, 20%);
	}
	@include breakpoint-lg {
		@include padding-top-bottom(0, 20%);
	}

	&.page {
		padding: 10% 10% 20% 10%;

		@include breakpoint-sm {
			padding: 10% 12% 20% 14%;
		}
		@include breakpoint-md {
			@include padding-top-bottom(12%, 20%);
		}
		@include breakpoint-lg {
			@include padding-top-bottom(14%, 20%);
		}
	}
}

.post-preview {
    margin: 20rem 0;
}
.post-header {
	h1, h2 {
		margin: 0;
		padding-top: 0;
		line-height: 1.3;
	}
	h3 {
		margin: 0;
		color: $body-copy-alt;
		font-size: 1.5em;
		line-height: 1;
	}
	span.post-meta {
		display: block;
		@include relative-top();
        margin: 0;
		font-size: $small-font-size;
		color: $body-copy-alt;
		cursor: default;

		@include breakpoint-md {
			font-size: 11px;
		}
		@include breakpoint-xl {
			font-size: 12px;
		}
	}
    h2 + span.post-meta {
        top: -4px;

        @include breakpoint-sm {
            top: -8px;
        }
    }
}
.post-excerpt {
	margin-top: 0.9rem;

	@include breakpoint-sm {
		margin-top: 1.5rem;

        p {
            max-width: 21rem;
        }
	}
}
.post-content {
	margin-top: 2rem;
}
.post {
	img {
		margin: 2rem 0 3rem;

		@include breakpoint-sm {
			margin: 4rem 0 6rem;
		}
		@include breakpoint-md {
			margin: 5rem 0 7rem;
		}
		@include breakpoint-lg {
			margin: 6rem 0 8rem;
		}
	}
	img + em {
		display: block;
		margin: -2rem 0 2em;
		font-size: 0.9em;

		@include breakpoint-sm {
			margin: -5rem 0 3rem;
		}
		@include breakpoint-md {
			margin: -6rem 0 4rem;
		}
		@include breakpoint-lg {
			margin: -7rem 0 5rem;
		}
	}
	p {
		@include breakpoint-md {
			font-size: 18px;
		}
		@include breakpoint-lg {
			font-size: 19px;
		}
		@include breakpoint-xl {
			font-size: 20px;
		}
	}
}



/*

// from _site-agnostic-variables.scss

$small: 460px;
$mobile: 600px;
$laptop: 800px;
$desktop: 1200px;


// from _site-agnostic-mixins.scss

@mixin mq($min) {
	@media screen and (min-width: $min) {
		@content;
	}
}
@mixin mq-max($max) {
	@media screen and (max-width: $max - 1) {
		@content;
	}
}

@include mq-max($mobile) {
}
@include breakpoint-sm {
}
@include breakpoint-md {
}
@include breakpoint-lg {
}



*/
