@mixin hover-fade($base-opacity: 0.9) {
	@include breakpoint-md {
		img {
			opacity: $base-opacity;
			@include transition-basic();
		}
		&:hover {
			img {
				opacity: 1;
			}
		}
	}
}


@mixin paint-front {
    position: relative;
    background: #fff;
    box-shadow: 57px 57px $shadow-color;
}

