// Looking for color values? See [sass_dir]/_HEX_BANK.scss

$base-font-size:   14px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.9;
$base-line-height: 1.85;

// site-agnostic overrides
$transition-speed-default: 500ms;


$static-url: 'https://static.sinistrocular.com';


$IMAGE_URL-header-non-home: '#{$static-url}/_images/COMMITSWAP_FILE_bg-header-non-home.jpg';
$IMAGE_URL-footer: '#{$static-url}/_images/COMMITSWAP_FILE_bg-footer.jpg';

// CURRENT HOME HERO
$year: '2016';
$month: '02';
$filename: 'coit-tower-hawk-buildings_1920.jpg';

$IMAGE_URL-home-hero-mobile: '#{$static-url}/_photographs/#{$year}/#{$month}/#{$filename}';
//$IMAGE_URL-home-hero-mobile: url("#{static-url}/_photographs/2016/02/ocean-beach-3_1920_50q.jpg");
// Prior main 1920 post images
//background-image: url("../images/bg-header-black-phoebe_1920.jpg");
//background-image: url("../images/2016/01/outer-sunset-_MG_5526_1920.jpg");




$_base-unit: 20px;

$unit-1: $_base_unit;
$unit-2: $_base_unit * 2;
$unit-3: $_base_unit * 3;
$unit-4: $_base_unit * 4;
$unit-5: $_base_unit * 5;
$unit-6: $_base_unit * 6;
$unit-7: $_base_unit * 7;
$unit-8: $_base_unit * 8;
$unit-9: $_base_unit * 9;
$unit-10: $_base_unit * 10;
$unit-12: $_base_unit * 12;
$unit-16: $_base_unit * 16;
