// Looking for color values? See [sass_dir]/_HEX_BANK.scss

$base-font-size:   14px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.9;
$base-line-height: 1.85;

// site-agnostic overrides
$transition-speed-default: 400ms;



$IMAGE_URL-header-non-home: url("../images/COMMITSWAP_FILE_bg-header-non-home.jpg");
$IMAGE_URL-footer: url("../images/COMMITSWAP_FILE_bg-footer.jpg");

$IMAGE_URL-home-hero: url("../images/2016/02/ocean-beach-3_1920_50q.jpg");
// Prior main 1920 post images
//background-image: url("../images/bg-header-black-phoebe_1920.jpg");
//background-image: url("../images/2016/01/outer-sunset-_MG_5526_1920.jpg");
