// Looking for color values? See [sass_dir]/_HEX_BANK.scss

$base-font-size:   17px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.9;
$base-line-height: 2;

// site-agnostic overrides
$transition-speed-default: 400ms;