body {
	// font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
	font-weight: 400;
	color: $body-copy;
	background-color: $background-color;
}

/*
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
	margin-bottom: 1rem;
	font-family: $heading-font-family;
	font-weight: 700;
	cursor: default;

	a {
		cursor: pointer;
	}
}
h1 {
	font-size: 1.6rem;
	//text-shadow: 11px 9px 0 $background-color-alt;
}
h2 {
	margin-top: 3rem;
	font-size: 1.4rem;
	//text-shadow: 7px 4px 0 $background-color-alt;

	a {
		color: inherit;
	}
}
h3 {
	margin-top: 1.5rem;
	font-size: 1.2rem;
	//text-shadow: 5px 3px 0 $background-color-alt;
}
h4, h5, h6 {
	margin-top: 1rem;
	font-size: 1.1rem;
}

/*
 * Other text & type treatment, and img
 */
p {
	margin-top: 0;
	margin-bottom: 1.4rem;
}
a {
	color: $body-copy;
	text-decoration: none;

	&:visited {
		//color: lighten($body-copy, 4%);
		color: $body-copy;

		&:hover {
			//color: darken($body-copy, 4%);
			color: $body-copy;
		}
	}
	&:hover {
		//color: darken($body-copy, 8%);
		color: $body-copy;
		text-decoration: none;
	}
}
ul, ol {
	margin-left: 2rem;
}
ul, ol, dl {
	margin-top: 0;
	margin-bottom: 1rem;
}
td, th {
	padding: .25rem .5rem;
	border: 1px solid #e5e5e5;
}
img {
	display: block;
}






/*
 * Overall layout
 */

header#site-header {
	position: relative;
	border-bottom: 1px solid $border-color;

	&.header-home {
		height:100%;
		background: url("../images/bg-header-black-phoebe_1920.jpg") no-repeat 50% 50%;
		background-size: cover;
	}
	a.logo-and-title {
		display: block;
		position: absolute;
		top: 36%;
		right: 10%;
		width: 30%;
		padding: 2%;
	}
	a.logo-only {
		display: block;
		position: absolute;
		top: 15%;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 8%;
		padding: 1%;
	}
}
.page-content {
	padding: 16% 4%;
	//border: 1px solid orange;
}
.post-preview {
	@include clearfix();
	display: block;
	margin: 20em 0;
	color: inherit;
	//border: 1px solid magenta;

	&:first-child {
		margin-top: 0;
	}
	@include mq($desktop) {
		img {
			float: left;
			width: 55%;
			height: auto;
		}
		.post-preview-copy {
			margin-left: 65%;
			padding-right: 4%;
			//border: 1px solid red;
		}
	}
}
.post-header {
	h1, h2 {
		margin: 0;
		padding-top: 0;
		line-height: 1.4;
	}
	h3 {
		margin: 0;
		color: $body-copy-alt;
		font-size: 1.5em;
		line-height: 1.7;
	}
	span.post-meta {
		display: block;
		font-size: $small-font-size;
		color: $body-copy-alt;
		margin-bottom: 2em;
	}
}
.post {
	img {
		margin: 6rem 0 8rem;
	}
}



footer#site-footer {
	position: relative;
	background: $background-color-alt;
	border-top: 1px solid $border-color;

	a.logo {
		display: block;
		position: absolute;
		top: 36%;
		left: 38%;
		width: 20%;
		padding: 1%;
	}
	a.github {
		display: block;
		position: absolute;
		top: 42%;
		right: 38%;
		width: 4.8%;
		padding: 1%;
	}
}
