body {
	// font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
	font-weight: 400;
	color: $body-copy;
	background-color: $background-color;
}

/*
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
	margin-bottom: 1rem;
	font-family: $heading-font-family;
	font-weight: 700;
	cursor: default;

	a {
		cursor: pointer;
	}
}
h1 {
	font-size: 1.6rem;
	text-shadow: 5px 3px 0 $background-color-alt;
}
h2 {
	margin-top: 3rem;
	font-size: 1.4rem;
	text-shadow: 5px 4px 0 $background-color-alt;

	a {
		color: inherit;
	}
}
h3 {
	margin-top: 1.5rem;
	font-size: 1.2rem;
	text-shadow: 3px 2px 0 $background-color-alt;
}
h4, h5, h6 {
	margin-top: 1rem;
	font-size: 1.1rem;
}

/*
 * Other text & type treatment, and img
 */
p {
	margin-top: 0;
	margin-bottom: 1.4rem;
}
a {
	color: $body-copy;
	text-decoration: none;
	@include transition-basic();

	&:visited {
		color: $body-copy;
	}
	&:hover {
		color: lighten($body-copy, 6%);
		text-decoration: none;
	}
}
ul, ol {
	margin-left: 2rem;
}
ul, ol, dl {
	margin-top: 0;
	margin-bottom: 1rem;
}
td, th {
	padding: .25rem .5rem;
	border: 1px solid #e5e5e5;
}
img {
	display: block;
}






/*
 * Overall layout
 */

header#site-header {
	position: relative;
	border-bottom: 1px solid $border-color;

	&.header-post {
		@include clearfix();

		a.logo-only {
			display: block;
			width: 100%;
			margin: 0 auto;
			padding: 5%;
			background: url("../images/bg-header-blur.jpg") no-repeat 50% 50%;
			background-size: cover;

			img {
				margin: 0 auto;
			}
		}
		@include mq($laptop) {
		}
		@include mq($desktop) {
		}
	}
	&.header-home {
		height:100%;
		background-image: url("../images/bg-header-black-phoebe_1920.jpg");
		background-repeat: no-repeat;
		background-position: 20% 50%;
		background-size: cover;

		@include mq($laptop) {
			background-position: 20% 50%;
		}
		@include mq($desktop) {
			background-position: 50% 50%;
		}
	}
	a.logo-and-title {
		display: block;
		position: absolute;
		top: 6%;
		left: 0;
		right: 0;
		width: 90%;
		margin: 0 auto;
		padding: 2%;
		//@include hover-fade(0.8);

		@include mq($laptop) {
			top: 36%;
			left: auto;
			right: 10%;
			width: 30%;
			padding: 2%;
		}
		img {
			margin: 0 auto;
		}
	}
}
.page-content {
	padding: 36% 4%;

	@include mq($mobile) {
		@include padding-top-bottom(26%, 20%);
	}
	@include mq($laptop) {
		@include padding-top-bottom(20%, 20%);
	}
	@include mq($desktop) {
		@include padding-top-bottom(16%, 20%);
	}
}
.post-preview {
	@include clearfix();
	display: block;
	margin: 8em 0;
	color: inherit;

	&:first-child {
		margin-top: 0;
	}
	@include mq($laptop) {
		> a {
			@include hover-fade(0.9);
		}
	}
	.post-preview-copy {
		margin-top: 7%;
	}
	@include mq($laptop) {
		margin: 12em 0;
	}
	@include mq($desktop) {
		margin: 20em 0;

		img {
			float: left;
			width: 55%;
			height: auto;
		}
		.post-preview-copy {
			margin-top: 0;
			margin-left: 65%;
			padding-right: 4%;
			//border: 1px solid red;
		}
	}
}
.post-header {
	h1, h2 {
		margin: 0;
		padding-top: 0;
		line-height: 1.3;
	}
	h3 {
		margin: 0;
		color: $body-copy-alt;
		font-size: 1.5em;
		line-height: 1.7;
	}
	span.post-meta {
		display: block;
		margin: 0.5rem 0 2rem;
		font-size: $small-font-size;
		color: $body-copy-alt;
		text-shadow: 5px 3px 0 $background-color-alt;
		cursor: default;
	}
}
.post {
	img {
		margin: 4rem 0 6rem;

		@include mq($laptop) {
			margin: 5rem 0 7rem;
		}
		@include mq($desktop) {
			margin: 6rem 0 8rem;
		}
	}
}
footer#site-footer {
	padding: 5% 0;
	background: url("../images/bg-footer-blur.jpg") no-repeat 50% 50%;
	background-size: cover;
	border-top: 1px solid $border-color;
	overflow-x: hidden;

	a {
		display: block;
		@include hover-fade(0.6);

		img {
			margin: 0 auto;
		}
	}

	a.logo {
		width: 50%;
		margin-left: 25%;

		@include mq($mobile) {
			display: none;
		}
	}
	a.logo-and-title {
		display: none;

		@include mq($mobile) {
			display: block;
			position: relative;
			left: 2%;
		}
		@include mq($desktop) {
			left: 0;
		}
	}
	a.github {
		width: 50%;
		margin: 5% 0 0 25%;

		@include mq($mobile) {
			position: relative;
			left: -1%;
		}
		@include mq($desktop) {
			left: -2%;
		}
	}


}