<footer class="site-footer" class="footer">

	<div class="content-inset paint-front">
		<nav>
			<ul>
				<li><a href="{{ site.baseurl }}/aves">Aves</a></li>
				<li><a href="{{ site.baseurl }}/lund">Lund</a></li>
				<li><a href="{{ site.baseurl }}/polis">Polis</a></li>
				<li><a href="{{ site.baseurl }}/taxonomy">Taxonomy</a></li>
				<li><a href="{{ site.baseurl }}/about">About</a></li>
			</ul>
		</nav>

		<ul class="social">
			<li>
				<a class="github animation-fade-in animation-start-invisible" href="https://github.com/cozywigwam/sinistrocular" target="_blank">
					{% include svg/icon-github.svg %}
				</a>
			</li>
			<li>
				<a class="github animation-fade-in animation-start-invisible icon-twitter" href="https://github.com/cozywigwam/sinistrocular" target="_blank">
					{% include svg/icon-twitter.svg %}
				</a>
			</li>
			<li>
				<a class="github animation-fade-in animation-start-invisible" href="https://github.com/cozywigwam/sinistrocular" target="_blank">
					{% include svg/icon-instagram.svg %}
				</a>
			</li>
			<li>
				<a class="github animation-fade-in animation-start-invisible" href="https://github.com/cozywigwam/sinistrocular" target="_blank">
					{% include svg/icon-flickr.svg %}
				</a>
			</li>
		</ul>
	</div>

	<div class="footer-addendum content-inset paint-back">
		<a class="logo" href="{{ site.baseurl }}/">
			{% include svg/logo.svg %}
			{% include svg/logo-type.svg %}
		</a>
	</div>

</footer>