<footer class="site-footer" class="footer">


	<div class="content-inset paint-front">

		<nav>
			<li><a href="{{ site.baseurl }}/aves">Aves</a></li>
			<li><a href="{{ site.baseurl }}/lund">Lund</a></li>
			<li><a href="{{ site.baseurl }}/polis">Polis</a></li>
			<li><a href="{{ site.baseurl }}/taxonomy">Taxonomy</a></li>
			<li><a href="{{ site.baseurl }}/about">About</a></li>
		</nav>

		<ul class="social">
			<li>
				<a class="github animation-fade-in animation-start-invisible" href="https://github.com/cozywigwam/sinistrocular" target="_blank">
					<img src="{{ site.baseurl }}/assets/svg/icon-github.svg">
				</a>
			</li>
			<li>
				<a class="github animation-fade-in animation-start-invisible icon-twitter" href="https://github.com/cozywigwam/sinistrocular" target="_blank">
					<img src="{{ site.baseurl }}/assets/svg/icon-twitter.svg">
				</a>
			</li>
			<li>
				<a class="github animation-fade-in animation-start-invisible" href="https://github.com/cozywigwam/sinistrocular" target="_blank">
					<img src="{{ site.baseurl }}/assets/svg/icon-instagram.svg">
				</a>
			</li>
			<li>
				<a class="github animation-fade-in animation-start-invisible" href="https://github.com/cozywigwam/sinistrocular" target="_blank">
					<img src="{{ site.baseurl }}/assets/svg/icon-flickr.svg">
				</a>
			</li>
		</ul>

	</div>



	<div class="content-inset paint-back">
		<a class="logo" href="{{ site.baseurl }}/">
			<img class="logo" src="{{ site.baseurl }}/assets/svg/logo.svg" />
		</a>
	</div>




</footer>