<footer id="site-footer" class="footer-home">
	<a class="logo" href="{{ site.baseurl }}/">
		<img src="{{ site.static_url }}/_images/logo-header-2.png">
	</a>
	<a class="logo-and-title" href="{{ site.baseurl }}/">
		<img src="{{ site.static_url }}/_images/logo-footer.png">
	</a>
	<a class="github animation-fade-in animation-start-invisible" href="https://github.com/cozywigwam/sinistrocular" target="_blank">
		<img src="{{ site.static_url }}/_images/github-logo.png">
	</a>

	<div class="video-container">
		<video autoplay muted loop>
			<source src="{{ site.static_url }}/_videos/2016/02/MVI_6345.webm" type='video/webm;codecs="vp8, vorbis"'/>
			<source src="{{ site.static_url }}/_videos/2016/02/MVI_6345.mp4" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'/>
		</video>
	</div>
</footer>