<header class="site-header">
	<span><a href="{{ site.baseurl }}/" alt="Home">
		<!--<object type="image/svg+xml" data="{{ site.static_url }}/typeset-logo.svg">SVG is unsupported</object>-->


		<!--<object type="image/svg+xml" data="{{ site.static_url }}/typeset-logo.svg" width="320" height="240">-->
			<!--<param name="src" value="{{ site.static_url }}/typeset-logo.svg">-->
		<!--</object>-->

		<!--<embed type="image/svg+xml" src="{{ site.static_url }}/typeset-logo.svg" />-->



		<img src="{{ site.static_url }}/_images/typeset-logo.svg" />



	</a></span>

	<nav>
		<li><a href="{{ site.baseurl }}/aves">Aves</a></li>
		<li><a href="{{ site.baseurl }}/lund">Lund</a></li>
		<li><a href="{{ site.baseurl }}/polis">Polis</a></li>
		<li><a href="{{ site.baseurl }}/taxonomy">Taxonomy</a></li>
		<li><a href="{{ site.baseurl }}/about">About</a></li>
	</nav>

</header>
