<header id="site-header" class="header-home">
	<a class="logo-and-title" href="{{ site.baseurl }}/">
		<img src="{{ site.static_url }}/_images/logo-header.png">
	</a>

	<div class="video-container">
		<video id="header_video" autoplay muted loop>
			<source src="{{ site.static_url }}/_videos/2016/03/MVI_8429_full-2b.mp4" type="video/mp4">
			<source src="{{ site.static_url }}/_videos/2016/03/MVI_8429_full-2b.webm" type="video/webm">
			<source src="{{ site.static_url }}/_videos/2016/03/MVI_8429_full-2b.ogg" type="video/ogg">
		</video>
	</div>
</header>
