<ul class="social">
	<li>
		<a class="github" href="https://github.com/cozywigwam/sinistrocular" target="_blank">
			{% include svg/icon-github.svg %}
		</a>
	</li>
	<li>
		<a class="github icon-twitter" href="https://twitter.com/scolopacid" target="_blank">
			{% include svg/icon-twitter.svg %}
		</a>
	</li>
	<li>
		<a class="github" href="https://www.instagram.com/sinistrocular/" target="_blank">
			{% include svg/icon-instagram.svg %}
		</a>
	</li>
	<li>
		<a class="github" href="https://www.flickr.com/photos/semitone/" target="_blank">
			{% include svg/icon-flickr.svg %}
		</a>
	</li>
</ul>
