#images-container {
  position: relative;
  padding-bottom: 66.666666%;
}
.slideshow-img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}
#captions-container {
  position: relative;
}
.slideshow-caption {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  letter-spacing: 0.02em;

  span {
    @include relative-top(-7px);
    display: block;
    font-size: 12px;
    font-style: italic;
    letter-spacing: 0.03em;
  }
  @include breakpoint-sm {
    margin-top: 0.8em;
    font-size: 15px;

    span {
      font-size: 13px;
    }
  }
  @include breakpoint-md {
    font-size: 16px;

    span {
      font-size: 14px;
    }
  }
}
.slideshow-img,
.slideshow-caption {
  opacity: 0;
  @include transition-basic(opacity, $transition-speed-long);
}
.slideshow-img.showing,
.slideshow-caption.showing {
  opacity: 1;
}
