.site-footer {

    text-align: center;

    @include breakpoint-sm {
        text-align: initial;
    }
    ul {
        @include margin-top-bottom($unit-2);

        @include breakpoint-sm {
            margin: 0;
        }
    }
    nav {
        ul li a {
            font-size: 18px;
        }
    }

    .social {
        margin-bottom: $unit-2;

        @include breakpoint-sm {
            margin-bottom: 0;
        }
        li {
            margin: 1.6em 1em;

            @include breakpoint-sm {
                margin: 0.9em 1em;
            }
            a {
                img {
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }

    .footer-addendum {
        padding: $unit-3 $unit-5 $unit-5;

        .logo {
            display: inline-block;
            width: 120px;
            margin: 0 auto;

            svg {
                width: $unit-3;

                g, path {
                    stroke: $body-copy-alt;
                    @include transition-basic();
                }
            }
            &:hover {
                svg {
                    width: $unit-3;

                    g, path {
                        stroke: $body-copy;
                    }
                }
            }
        }
    }
}