.site-header {

    height: $unit-3;
    overflow: hidden;

    @include paint-front();

    span {
        float: left;
        display: inline-block;
        width: $unit-4;
        margin: 19px 0 0 $unit-1;

        @include breakpoint-sm {
            //width: $unit-6;
            margin: 19px 0 0 $unit-2;
        }
    }

    nav {
        float: right;
        margin-right: 40px;
    }
}