.site-header {

    height: $unit-3;
    overflow: hidden;

    @include paint-front();

    .logo-container {
        float: left;
        display: inline-block;
        width: $unit-4;
        margin: 19px 0 0 $unit-1;

        svg path {
            stroke: $primary-color;
            @include transition-basic();
        }
        &:hover {
            svg path {
                //fill: darken($primary-color, 10%);
                stroke: #000;
            }
        }
        @include breakpoint-sm {
            //width: $unit-6;
            margin: 19px 0 0 $unit-2;
        }
    }
    .hamburger {
        float: right;

        a {
            display: block;
            padding: 21px 20px 0 0px;

            img {
                width: 20px;
            }
        }
    }
    .nav-desktop {
        float: right;
        margin-right: 40px;
    }
}
.takeover {
    @include fixed-all();
    background-color: $background-color;
    display: none;
    z-index: 3;
    text-align: center;

    &.active {
        display: block;
    }
    .close-takeover {
        @include absolute-right-top();
    }
    .logo-container {
        width: 120px;
        display: block;
        margin: 20px auto;
    }
    .social {
        margin-top: $unit-2;
    }
}
.close-x {
    float: right;
    display: block;
    padding: 21px 20px 0 0px;

    img {
        width: 20px;
    }
}