.social {

    li {

        a {
            display: block;
            color: $body-copy;

            &:before {
                height: 7px;
            }
            img {
                width: 25px;

            }
            &.icon-twitter img {
                @include relative-top(3px);
            }
            &:hover img {
                opacity: 0.6;
                @include transition-basic();
            }
        }
    }
}