.social {

    li {
        vertical-align: top;
        //border: 1px solid magenta;

        a {
            display: block;
            color: $body-copy;

            svg {
                width: 25px;

                path {
                    fill: $body-copy;
                    @include transition-basic();
                }
            }
            &.icon-twitter svg {
                @include relative-top(3px);
            }
            &:hover svg path {
                fill: $body-copy-alt;
            }
        }
    }
}