* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}
html {
    margin: 0;
    padding: 0;
}
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $body-copy;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;

    //background: url("../images/placeholder-bg.jpg") no-repeat 50% 0;
}
// .page-wrap is used for the sticky footer
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    //margin-bottom: $spacing-unit / 2;
    position: relative;
}
img {
    display: block;
    max-width: 100%;
    vertical-align: middle;
}
figure > img {
    display: block;
}
figcaption {
    font-size: $small-font-size;
}
ul, ol {
    margin-left: $spacing-unit;
}
li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}
h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font-family;
    font-weight: $base-font-weight;
}
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}
.icon {

    > svg {
        display: inline-block;
        width: 36px;
        height: 36px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
table {
    margin-bottom: 1rem;
    width: 100%;
    border: 1px solid #e5e5e5;
    border-collapse: collapse;
}
td,
th {
    padding: .25rem .5rem;
    border: 1px solid #e5e5e5;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
    background-color: #f9f9f9;
}
.rss-subscribe {
	margin-bottom: 0;
}






a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }
    &:hover {
        color: $text-color;
        text-decoration: none;
        //background: lighten($background-color, 1%);
    }
}



.inner {
    @include inner-indent();
}
