/**
 * Site header
 */
header#site-header {
    position: relative;
    //background: url("../images/bg-header.jpg") no-repeat 0 0;

    a.site-title {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 40%;
        padding: 5%;
    }
}

