/**
 * Page content
 */
.page-content {
    padding: 8% 0;
}
.post-list {
    margin-top: 6%;
    list-style: none;

    a.post-link {
        @include clearfix();
        display: block;
        padding: 6%;
        margin-bottom: 12em;
        color: inherit;

        &:hover {
            background: $light-background-alt;
        }
        span.post-meta {
            display: block;
            font-size: $small-font-size;
            color: $body-copy-alt;
            margin-bottom: 2em;
        }
        @include mq($desktop) {
            img {
                float: left;
                width: 55%;
                height: auto;
            }
            .index-content {
                margin-left: 65%;
                padding-right: 4%;

                h2 {
                    margin: 0;
                    padding-top: 0.5em;
                    line-height: 1;
                }
            }
         }
    }
}




/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}
.post-title {
}
.post-content {
    margin-bottom: $spacing-unit;

    img {
        margin: 10% 0;
    }
}
