
/* -------- */
// HEX BANK
/* -------- */
// IF IT'S A HEX,
// AND IT AIN'T #FFF,
// AND IT AIN'T #000,
// HIT UP HEX BANK
/* -------- */




$primary-color: #909090;
$secondary-color: #d8d8d8;
$background-color: #f6f6f6;

$border-color: #e1e1e1;

$shadow-color: $secondary-color;



$body-copy: $primary-color;
$body-copy-darken: darken($body-copy, 20%);
$body-copy-alt: #c0c0c0;





/* -------- */
// HEX BANK
/* -------- */
// IF IT'S A HEX,
// AND IT AIN'T NAH,
// AIN'T IN HEX BANK,
// HEX BANK GET MAD
/* -------- */
