
/* -------- */
// HEX BANK
/* -------- */
// IF IT'S A HEX,
// AND IT AIN'T #FFF,
// AND IT AIN'T #000,
// HIT UP HEX BANK
/* -------- */




$primary-color: #d3d9ca;
$secondary-color: #d9a6a3;
$background-color: #2c3028;
$background-color-alt: darken($background-color, 2%);

$border-color: desaturate(darken($primary-color, 12%), 12%);



$body-copy: $primary-color;
$body-copy-alt: $secondary-color;





/* -------- */
// HEX BANK
/* -------- */
// IF IT'S A HEX,
// AND IT AIN'T NAH,
// AIN'T IN HEX BANK,
// HEX BANK GET MAD
/* -------- */
