/*

  /\\ \\       /\\
/\\    /\\ /\  /\\
 /\\         /\/\ /\   /\\
   /\\    /\\  /\\   /\   /\\ /\\\\\
      /\\ /\\  /\\  /\\\\\ /\\
/\\    /\\/\\  /\\  /\
  /\\ \\  /\\   /\\   /\\\\
                                               /\\              /\\
                                               /\\   /\         /\\
   /\\       /\\   /\\ /\\     /\\     /\\\\ /\/\ /\      /\\\  /\\
 /\\  /\\  /\\  /\\ /\\  /\\ /\\  /\\ /\\      /\\  /\\ /\\     /\
/\\   /\\ /\\   /\\ /\\  /\\/\\    /\\  /\\\   /\\  /\\/\\      /\
/\\   /\\  /\\  /\\ /\\  /\\ /\\  /\\     /\\  /\\  /\\ /\\
  /\\ /\\\     /\\ /\\\  /\\   /\\    /\\ /\\   /\\ /\\   /\\\  /\\
            /\\

*/



$transition-speed-default: 1000ms;