footer#site-footer {
	position: relative;
	padding: 5% 0;
	background: url($IMAGE_URL-footer) no-repeat 50% 0;
	background-size: cover;
	border-top: 1px solid #ccc;
	box-shadow: 0 0 80px rgba(0, 0, 0, 0.4);

	@include mq-max($mobile) {
		.video-container {
			display: none;
		}
	}
	@include mq($mobile) {
		background: transparent;

		&.footer-home {
			height: 100%;
		}
		.video-container {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: -1;
			background-image: none;
			background-color: transparent;
			background-size: cover;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			overflow: hidden;

			video {
				margin: auto;
				position: absolute;
				top: 50%;
				left: 50%;
				z-index: -1;
				min-width: 100%;
				min-height: 100%;
				transform: translate(-50%, -50%);
				visibility: visible;
				opacity: 1;
			}
		}
	}
	@include mq($laptop) {
		background-position: 20% 50%;
	}
	@include mq($desktop) {
		background-position: 50% 50%;
	}
	a {
		display: block;
		@include hover-fade(0.6);

		img {
			margin: 0 auto;
		}
	}
	a.logo {
		width: 50%;
		margin-left: 25%;

		@include mq($mobile) {
			display: none;
		}
	}
	a.logo-and-title {
		display: none;

		@include mq($mobile) {
			display: block;
			position: relative;
			top: 20%;
			left: 2%;
		}
		@include mq($desktop) {
			left: 0;
		}
	}
	a.github {
		width: 50%;
		margin: 5% 0 0 25%;

		@include mq($mobile) {
			position: relative;
			top: 20%;
			left: -1%;
		}
		@include mq($desktop) {
			left: -2%;
		}
	}
}