<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include header.html %}

<main>

	<section class="layout-split hero">
		<div class="split" data-width="2">
			<div class="content-inset paint-front animation-fade-in animation-start-invisible">
				<img id="cedar_waxwing" class="" src="{{ site.static_url }}/_images/cedar-waxwing__MG_4843_FULL_1920.jpg" alt="Cedar Waxwing">
			</div>
		</div>
		<div class="split" data-width="1">
			<div class="content-wall paint-back animation-fade-in animation-start-invisible">
				{% include svg/logo.svg %}

				<p class="hero-annotation" for="cedar_waxwing">Cedar Waxwing<span>Bombycilla cedrorum</span></p>
			</div>
		</div>
	</section>

	<section class="content-full paint-front">
		<div class="content-full-inner">
			{{ content }}
		</div>
	</section>

</main>

{% include footer.html %}

</body>

</html>
