.on-ready {
  position: relative;
  @include transition-basic(opacity, $transition-speed-long);
  opacity: 0;
}
.complete,
.complete .animation-item-1,
.complete .animation-item-2,
.complete .animation-item-3 {
  opacity: 1;
}

.animation-group {
}
.animation-item-1,
.animation-item-2,
.animation-item-3 {
  position: relative;
}
.animation-item-1 {
}
.animation-item-2 {
}
.animation-item-3 {
}
