body {
  // font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 400;
  color: $body-copy;
  background-color: $background-color;

  @include breakpoint-sm {
    font-size: $base-font-size + 1;
    line-height: 1.8;
  }
}

/*
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  font-weight: normal;
  cursor: default;

  a {
    color: $body-copy;
    text-decoration: none;
    cursor: pointer;

    &:visited {
      color: $body-copy;
    }
    &:hover {
      color: lighten($body-copy, 10%);
      text-decoration: none;
    }
  }
}
h1,
h2 {
  margin-top: 3rem;
  font-size: 1.4rem;

  @include breakpoint-md {
    font-size: 1.8rem;
  }
  @include breakpoint-lg {
    font-size: 1.7em;
  }
  @include breakpoint-xl {
    font-size: 1.8em;
  }
  @include breakpoint-xxl {
    font-size: 1.9em;
  }
  a {
    color: inherit;
  }
}
h3 {
  margin-top: 1.5rem;
  font-size: 1.2rem;
}
h4,
h5,
h6 {
  margin-top: 1rem;
  font-size: 1.1rem;
}

/*
 * Other text & type treatment, and img
 */
p {
  margin-top: 0;
  margin-bottom: 1.4rem;
  cursor: default;
}
a {
  color: $body-copy-alt;
  @include transition-basic();
  cursor: pointer;

  &:hover {
    color: $body-copy-darken;
  }
}
img {
  display: block;
}
span,
figcaption {
  cursor: default;

  a {
    cursor: pointer;
  }
}
figcaption {
  display: block;
  margin: 0.4rem 0 0;
  font-size: 0.9em;

  span {
    font-style: italic;
  }
}

/*
 * Overall layout
 */

main {
  padding-top: $unit-3; // compensate for header's height
}

@include breakpoint-two-column {
  .layout-split {
    @include clearfix();

    > .split:first-child {
      float: left;
    }
    > .split:last-child {
      float: right;
    }
  }
  .split {
    &.width-1 {
      width: 33.3%;
    }
    &.width-2 {
      width: 66.6%;
    }
  }
}

.content-full {
  padding: $unit-4 $unit-2;

  @include breakpoint-sm {
    padding: $unit-2 $unit-3;
  }
  @include breakpoint-md {
    @include padding-top-bottom($unit-10, $unit-10);
  }
  @include breakpoint-lg {
    @include padding-top-bottom($unit-16, $unit-16);
  }
}

.content-inset {
  padding: $unit-2 0;

  @include breakpoint-two-column {
    padding: 0 $unit-8;
  }

  &.paint-front {
    margin: $unit-4 $unit-2 $unit-4 $unit-1;
    padding: $unit-2 $unit-1;

    @include breakpoint-xs {
      padding: $unit-2;
    }
    @include breakpoint-sm {
      margin: $unit-6 $unit-4 $unit-6 $unit-2;
      padding: $unit-3;
    }
    @include breakpoint-md {
      padding: $unit-3;
    }
    @include breakpoint-lg {
      margin: $unit-6 $unit-2 $unit-6 $unit-2;
      padding: $unit-4;
    }

    &.post {
      @include breakpoint-xl {
        padding: $unit-6;
      }
      @include breakpoint-xxl {
        padding: 10%;
      }
    }
  }
}
.paint-front {
  position: relative;
  background: #fff;
  border: 1px solid $border-color;
  box-shadow: $unit-1 $unit-1 $shadow-color;

  @include breakpoint-sm {
    box-shadow: $unit-2 $unit-2 $shadow-color;
  }
}
.paint-back {
  color: $body-copy-alt;
}
.content-wall {
  margin: $unit-4 auto;
  text-align: center;

  @include breakpoint-two-column {
    margin: $unit-16 0 0;
  }
}

.post-preview + .post-preview {
  margin-top: $unit-6;

  @include breakpoint-sm {
    margin-top: $unit-6;
  }
  @include breakpoint-md {
    margin-top: $unit-8;
  }
  @include breakpoint-lg {
    margin-top: $unit-16;
  }
}
.post-preview-copy {
  @include breakpoint-lg {
    padding-top: $unit-2;
  }
  @include breakpoint-xl {
    padding-top: $unit-4;
  }
  @include breakpoint-xxl {
    padding-top: $unit-6;
  }
}
.post-header {
  h1,
  h2 {
    margin: 0;
    padding-top: 0;
    line-height: 1.2;
  }
  h3 {
    margin: 0;
    color: $body-copy-alt;
    font-size: 1.5em;
    line-height: 1;
  }
  h2 {
    @include breakpoint-sm {
      max-width: 90%;
    }
    @include breakpoint-md {
      max-width: 85%;
    }
  }
  span.post-meta {
    display: block;
    @include relative-top();
    margin: 0;
    font-size: $small-font-size;
    color: $body-copy-alt;
    cursor: default;

    @include breakpoint-md {
      font-size: 11px;
    }
    @include breakpoint-xl {
      font-size: 12px;
    }
  }
  h2 + div span.post-meta {
    top: -4px;
  }
}
.post-excerpt {
  margin-top: 0.9rem;

  @include breakpoint-sm {
    margin-top: 1.5rem;
  }
  p {
    max-width: 95%;

    @include breakpoint-sm {
      max-width: 90%;
    }
    @include breakpoint-md {
      max-width: 70%;
    }
    @include breakpoint-xl {
      max-width: 21rem;
    }
  }
}
.post-content {
  margin-top: $unit-2;

  @include breakpoint-sm {
    margin-top: $unit-3;
  }
  @include breakpoint-md {
    //margin-top: $unit-4;
  }
  @include breakpoint-lg {
    //margin-top: $unit-6;
  }
}
.post {
  p + figure {
    margin: $unit-3 0;

    @include breakpoint-sm {
      margin: $unit-4 0;
    }
    @include breakpoint-lg {
      margin: $unit-6 0;
    }
  }
  figure + figure {
    margin: $unit-3 0;

    @include breakpoint-sm {
      margin: $unit-6 0;
    }
    @include breakpoint-lg {
      margin: $unit-12 0;
    }
  }
  p {
    max-width: 95%;

    @include breakpoint-sm {
      max-width: 70%;
    }
    @include breakpoint-lg {
      max-width: 40rem;
    }
  }
}

/*
// reference
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1400px;
$screen-xxl: 1600px;
$screen-xs-max: ($screen-sm - 1);
$screen-sm-max: ($screen-md - 1);
$screen-md-max: ($screen-lg - 1);

@include breakpoint-xs-max {}
@include breakpoint-xs {}
@include breakpoint-sm {}
@include breakpoint-md {}
@include breakpoint-lg {}
@include breakpoint-xl {}
@include breakpoint-xxl {}
*/
