$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1400px;
$screen-xxl: 1600px;

$screen-vert-md: 1025px;

$screen-xs-max: ($screen-sm - 1);
$screen-sm-max: ($screen-md - 1);
$screen-md-max: ($screen-lg - 1);

@mixin breakpoint-custom($breakpoint) {
  @media (min-width: #{$breakpoint}) {
    @content;
  }
}
@mixin breakpoint-max($breakpoint) {
  @media (max-width: #{$breakpoint}) {
    @content;
  }
}
@mixin breakpoint-xs {
  @include breakpoint-custom($screen-xs) {
    @content;
  }
}
@mixin breakpoint-sm {
  @include breakpoint-custom($screen-sm) {
    @content;
  }
}

@mixin breakpoint-fluid-sm {
  @media (min-width: $screen-sm-max) and (min-height: $screen-vert-md - 1) {
    @content;
  }
}

@mixin breakpoint-fluid-md {
  @media (min-width: $screen-vert-md) and (min-height: $screen-sm + 1) {
    @content;
  }
}

@mixin breakpoint-fluid-lg {
  @media (min-width: $screen-vert-md) and (min-height: $screen-sm + 126) {
    @content;
  }
}

@mixin breakpoint-fluid-xl {
  @media (min-width: $screen-vert-md) and (min-height: $screen-sm + 251) {
    @content;
  }
}

@mixin breakpoint-md {
  @include breakpoint-custom($screen-md) {
    @content;
  }
}
@mixin breakpoint-lg {
  @include breakpoint-custom($screen-lg) {
    @content;
  }
}
@mixin breakpoint-xl {
  @include breakpoint-custom($screen-xl) {
    @content;
  }
}
@mixin breakpoint-xxl {
  @include breakpoint-custom($screen-xxl) {
    @content;
  }
}

.mobile-only {
  @include breakpoint-sm {
    display: none !important;
  }
}
.desktop-only {
  @include breakpoint-max($screen-xs-max) {
    display: none !important;
  }
}
